.wrapper {
  text-align: left;
  padding: 40px 0px;
  background-color: var(--color-grey);
}
.header {
  height: 174px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 100px 100px 100px;
}
.arrowwrapper {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.arrow {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
}
.arrow:hover {
  background-color: var(--color-primary);
}
.arrowicon {
  color: var(--color-grey);
}
.wrapper .swiperwrapper {
  margin: 0px 100px;
}

.title {
  width: 380px;
  height: 174px;
  font-size: 50px;
  font-weight: 500;
}
.sectiontitle {
  width: 437px;
  height: 77px;
  font-size: 50px;
}
