.wrapper {
  background-color: var(--color-grey);
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  height: 174px;
  font-size: 54px;
  font-weight: 600;
}
.imagewrapper {
  width: 1135px;
  /* height: 1228px; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 35px;
  flex-wrap: wrap;
}
.imagebox {
  height: 342px;
  border-radius: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-white);
  cursor: pointer;
  transition: color 0.5s ease;
}
.imagebox:hover {
  /* opacity: 50%; */
  transform: scale(1.05);
}
.type1 {
  width: 750px;
}
.type2 {
  width: 350px;
}
