.navbar {
  height: 47px;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--color-black);
}
.fixed {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 2;
}
