.footer {
  height: 367px;
  padding: 57px 0px 50px 0px;
}
.wrapper {
  display: flex;
  justify-content: space-around;
}
.rights {
  margin-top: 50px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: center;
}
